<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com https://www.googleapis.com https://securetoken.googleapis.com https://firestore.googleapis.com; script-src 'self' 'unsafe-eval' 'unsafe-inline' https://www.gstatic.com https://cdnjs.cloudflare.com; style-src 'self' 'unsafe-inline'; media-src *; img-src file: https://www.google.com https://firestore.googleapis.com; connect-src https://firestore.googleapis.com https://firebasestorage.googleapis.com">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link rel="stylesheet" type="text/css" href="../css/create_item.css">
        <link rel="stylesheet" type="text/css" href="../css/index.css">
        <title>CDV View Create Item</title>
    </head>
    <body>
        <div id="app">
            <div id="pic_container"></div>
            <div id="info_container">
                <div class="input_container">
                    <label>Name</label>
                    <input id="name_input" type="text" name="name">
                </div>
                <div class="input_container">
                    <label>Description</label>
                    <input id="description_input" type="text" name="description">
                </div>
                <span id="submit_item_button" onclick="itemCreator.submitItem();">SUBMIT</span>
            </div>
        </div>
        
        <script type="text/javascript" src="../cordova.js"></script>

        <script src="https://www.gstatic.com/firebasejs/5.8.2/firebase.js"></script>

        <script>
          // Initialize Firebase
          // TODO: Replace with your project's customized code snippet
          var config = {
            "apiKey": "AIzaSyAByGZpdKzSn2PLIDZxWtBw9dIMwxZLGNk",
            "authDomain": "pool-3f2de.firebaseapp.com",
            "databaseURL": "https://pool-3f2de.firebaseio.com",
            "projectId": "pool-3f2de",
            "storageBucket": "pool-3f2de.appspot.com",
            "messagingSenderId": "843791335284",
          };
          
          firebase.initializeApp(config);
        </script>

        <script type="text/javascript" src="../js/modules/data_retreive.js"></script>
        <script type="text/javascript" src="../js/create_item.js"></script>
        <script type="text/javascript" src="../js/navigation/ios_navigation.js"></script>
        <script type="text/javascript" src="../js/index.js"></script>
    </body>
</html>
