<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
    <head>
        <!--
        Customize this policy to fit your own app's needs. For more guidance, see:
            https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
        Some notes:
            * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
            * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
            * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
                * Enable inline JS: add 'unsafe-inline' to default-src
        -->
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com https://www.googleapis.com https://securetoken.googleapis.com https://firestore.googleapis.com; script-src 'self' 'unsafe-eval' 'unsafe-inline' https://cdn.jsdelivr.net https://www.gstatic.com https://cdnjs.cloudflare.com; style-src 'self' 'unsafe-inline' https://cdn.jsdelivr.net; media-src *; img-src file: https://www.google.com https://firestore.googleapis.com https://firebasestorage.googleapis.com">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
        <link rel="stylesheet" type="text/css" href="../css/index.css">
        <link rel="stylesheet" type="text/css" href="../css/pool.css">
        <title>CDV View Pool</title>
    </head>
    <body>
        <template id="borrow_item">
            <div id="borrow_container">
                <div id="instructions">
                    <h3>Please select a start date and an end date:<h3>
                </div>
                <input readonly type="text" name="daterange" id="daterange"/>
            </div>
        </template>
        <div id="app">
            <div id="pool_container">
                <div id="pic_container"></div>
                <div id="info_container">
                    <div id="text_container" class="display_container">
                        <label>Name</label>
                        <div class="display_text" id="name_display"></div>
                    </div>
                    <div id="desc_container" class="display_container">
                        <label>Description</label>
                        <div class="display_text" id="description_display"></div>
                        <span id="borrow_item_button" onclick="pool.borrowItem();">BORROW</span>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="../cordova.js"></script>
        <!-- Firebase App is always required and must be first -->
        <script src="https://www.gstatic.com/firebasejs/5.8.2/firebase.js"></script>

        <script type="text/javascript" src="../js/modules/data_retreive.js"></script>
        <script type="text/javascript" src="../js/navigation/ios_navigation.js"></script>
        <script type="text/javascript" src="../js/auth.js"></script>
        <script type="text/javascript" src="../js/pool.js"></script>
        <script type="text/javascript" src="../js/index.js"></script>
    </body>
</html>
