<?xml version='1.0' encoding='utf-8'?>
<widget id="com.eamon.pool" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <feature name="ListPlugin">
        <param name="ios-package" value="ListPlugin" />
    </feature>
    <feature name="ItemViewPlugin">
        <param name="ios-package" value="ItemViewPlugin" />
    </feature>
    <feature name="NavigationPlugin">
        <param name="ios-package" value="NavigationPlugin" />
    </feature>
    <name>HybridPool</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <platform name="ios">
        <resource-file src="GoogleService-Info.plist" />
    </platform>
    <access origin="*" />
    <preference name="BackupWebStorage" value="local" />
    <engine name="ios" spec="~4.5.5" />
</widget>
