<?xml version='1.0' encoding='utf-8'?>
<widget id="com.eamon.pool" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <feature name="ListPlugin">
        <param name="ios-package" value="ListPlugin" />
    </feature>
    <feature name="ItemViewPlugin">
        <param name="ios-package" value="ItemViewPlugin" />
    </feature>
    <feature name="NavigationPlugin">
        <param name="ios-package" value="NavigationPlugin" />
    </feature>
    <name>HybridPool</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <platform name="ios">
        <resource-file src="GoogleService-Info.plist" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <edit-config file="*-Info.plist" mode="merge" target="NSCameraUsageDescription">
            <string>Need camera access to take pictures</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSPhotoLibraryUsageDescription">
            <string>Need photo library access to get pictures</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSLocationWhenInUseUsageDescription">
            <string>Need location access to find pools nearby</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSLocationAlwaysInUseUsageDescription">
            <string>Need location access always</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSPhotoLibraryAddUsageDescription">
            <string>Need photo library access to save pictures there</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSLocationAlwaysAndWhenInUseUsageDescription">
            <string>Need location access always, and when app is in use</string>
        </edit-config>
    </platform>
    <access origin="*" />
    <plugin name="cordova-plugin-inappbrowser" spec="3.0.0" />
    <plugin name="cordova-plugin-camera" spec="4.0.3" />
    <plugin name="cordova-plugin-file" spec="6.0.1" />
    <engine name="ios" spec="~4.5.5" />
    <engine name="browser" spec="^5.0.4" />
</widget>
